<!DOCTYPE html>
<html>
<head>
  <title>ForumApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    
    <h1><a class="navbar-brand" href="#">The Forum App</a></h1>
  </div>
</div>


<div class = "container">
	<div class="row"></div>
	<div class = "span9"><%= yield %></div>
	<div class="span3"></div>
</div>


</body>
</html>
